mat-card {
  width: 40%;
  margin: 10em auto;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

mat-card-actions {
  margin: auto;
}

mat-toolbar,
button {
  margin-bottom: 1em;
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

#peso-fonte{
  font-weight: 300;
}
