a {
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

span {
  padding: 20px;
}

.title-size {

  font-size: x-large;
  text-align: center;
}
