mat-card {
  max-width: 40%;
  margin: 2em auto;
}

mat-toolbar{
  display: flex;
  justify-content: space-between;
}

.toolbar-regionais {
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat";
}

.title-size {
  font-size: x-large;
}

.link {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 40px;
  font-family: "Montserrat";
}

.filtro-blocos {
  width: 100%;
}
input {
  margin-top: 10px;
  display: flex;
}
mat-label {
  color: #939393;
}

span{
  color: teal;
}

mat-grid-tile {
  color: teal;
  background: lightblue;
}

button{
  padding-right: 5px;
}
.adicionar{
  display: flex;
  justify-content: space-between;
}
