mat-card {
  max-width: 40%;
  margin: 2em auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}

.toolbar-regionais {
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-decoration: none;
  color: inherit;
}

.title-size {
  font-size: x-large;
}

.link {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 40px;
}

.filtro-blocos {
  width: 100%;
}
input {
  margin-top: 10px;
  display: flex;
}
mat-label {
  color: #939393;
}

span {
  color: teal;
}

mat-grid-tile {
  color: teal;
  background: lightblue;
}

button {
  color: white;
  font-size: 12px;
}
.adicionar {
  font-size: 25px;
  font-family: Montserrat;
}
.montserrat {
  color: teal;
  font-family: Montserrat;
}

.container {
  height: 455px;
  overflow: auto;
}

.pesquisar{
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: white;
  font-size: 12px;
}
