mat-card {
  max-width: 40%;
  margin: 2em auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}

.toolbar-regionais {
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-decoration: none;
  color: inherit;
}

.title-size {
  font-size: x-large;
}

.link {
  background: lightblue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 40px;
  color: teal;
}

mat-label {
  color: #cccccc;
}

span {
  color: teal;
}

mat-grid-tile {
  color: teal;
  background: lightblue;
}

button {
  color: white;
  font-size: 12px;
}
.adicionar {
  font-size: 25px;
  color: #fff;
}

.container {
  height: 455px;
  overflow: auto;
}

.pesquisar {
  margin: auto;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
mat-form-field {
  padding-top: 15px;
  width: 85%;

}
