mat-card {
  width: 50%;
  margin: 1em auto;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  margin: auto;
  margin-top: 20px;
}

mat-toolbar,
button {
  margin-bottom: 1em;
  font-family: "Montserrat";
}
mat-list-item {
  font-family: "Montserrat";
}
a{
  text-decoration: none;
  color: inherit;
}
span{
  font-size: 14px;
}
