mat-card {
  width: 40%;
  margin: 1em auto;
}

.full-width {
  width: 100%;
}

mat-card-actions {
  margin: auto;
  margin-top: 20px;
}

mat-toolbar,
button {
  font-family: Montserrat;
}
mat-list-item {
  font-family: Montserrat;
}
a{
  text-decoration: none;
  color: inherit;
}
span{
  font-size: 12px;
}
