mat-card {
  width: 60%;
  margin: 2em auto;
}

.full-width {
  width: 100%;
}

.three-parts-width {
  display: flex;
  justify-content: space-between;
}

mat-card-actions {
  margin: auto;
}

mat-toolbar {
  margin-bottom: 1em;
  font-family: Montserrat;
}

.montserrat {
  font-family: Montserrat;
}
#responsavel {
  width: 46%;
}
#linha-dois{
  display: flex;
  justify-content: space-between;
}
#largura-publico {
  width: 15%;
}
#largura-data{
  width: 15%;
}
.espacamento-desfile{
  width: 32.5%;
}
#tel-responsavel{
  width: 20%;
}
#peso-fonte{
  font-weight: 300;
}
